{{ "<!-- Scripts -->" | safeHTML}}
    {{ "<!-- jQuery -->" | safeHTML }}
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="{{ "/js/jquery.scrolly.min.js"| absURL }}"></script>
    <script src="{{ "/js/jquery.scrollex.min.js"| absURL }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/skel/3.0.1/skel.min.js"></script>
    <script src="{{ "/js/util.min.js"| absURL }}"></script>
    <script src="{{ "/js/functions.min.js"| absURL }}"></script>


    <!--[if lte IE 8]><script src="js/ie/respond.min.js"></script><![endif]-->

    {{ "<!-- Main JS -->" | safeHTML }}
    <script src="{{ "js/main.min.js"| absURL }}"></script>

    {{ template "_internal/google_analytics_async.html" . }}

    {{ range .Site.Params.custom_js }}
        <script src="{{ . | absURL }}"></script>
    {{ end }}