{{ "<!-- Scripts -->" | safeHTML}}
    {{ "<!-- jQuery -->" | safeHTML }}
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/skel/3.0.1/skel.min.js"></script>
    <script src="{{ "/js/output.min.js"| absURL }}"></script>

    <!--[if lte IE 8]><script src="js/ie/respond.min.js"></script><![endif]-->


    {{ template "_internal/google_analytics_async.html" . }}

    {{ range .Site.Params.custom_js }}
        <script src="{{ . | absURL }}"></script>
    {{ end }}