
.DS_Store
themes/forty/static/.DS_Store
themes/forty/layouts/.DS_Store
themes/forty/.DS_Store
static/img/.DS_Store
static/.DS_Store
content/.DS_Store
themes/forty/layouts/partials/js.sublime-workspace
.DS_Store
static/img/.DS_Store
